# A Mystery in Two Parts - Bonus

##  Employee Database

In [1]:
# Insatll psycopg2 sqlalchemy
#
!pip install psycopg2 sqlalchemy

Requirement already satisfied: psycopg2 in /Users/jahangirdewan/anaconda3/lib/python3.8/site-packages (2.8.6)
Requirement already satisfied: sqlalchemy in /Users/jahangirdewan/anaconda3/lib/python3.8/site-packages (1.3.18)

In [ ]:
# Dependencies and Setup:
#
# Import create_engine from sqlalchemy
# 
from sqlalchemy import create_engine

# Import pandas as pd
import pandas as pd

# Import Matplotlib as plt
import matplotlib.pyplot as plt

# Import NumPy as np
import numpy as np

In [ ]:
# Create Engine and Pass in Postgres Connection
# Setup to Connect to Database
#  Example:
#engine = create_engine('postgresql://jahangirdewan:<passwd>@localhost:64405/test-hw')
#
engine = create_engine('postgresql://localhost:64405/test-hw')

connect_me = engine.connect()

In [ ]:
# Query "salaries" table for all the records:
#
salaries_data = pd.read_sql("SELECT * FROM salaries", connect_me)
salaries_data.head()

In [ ]:
# Query "titles" table for all the records 
#
titles_data = pd.read_sql("SELECT * FROM titles", connect_me)
titles_data.head()

In [ ]:
# Using merge from panda to merge the columns and create a dataframe
#
combined_data = pd.merge(salaries_data, titles_data, on="emp_no", how="inner")
combined_data.head()

In [ ]:
# Using groupby and get mean value
#
grouped_df = combined_data.groupby("title").mean()
grouped_df

In [ ]:
# Drop column "emp_no" and display only title and salary
#
revised_grouped_df = grouped_df.drop(columns = "emp_no")
revised_grouped_df

In [ ]:
# Reset to the default before another operation
#
revised_grouped_df = revised_grouped_df.reset_index()
revised_grouped_df

In [ ]:
# Set x_axis, y_axis & Tick Locations
x_axis = revised_grouped_df["title"]
ticks = np.arange(len(x_axis))
y_axis = revised_grouped_df["salary"]
 
# Create Bar Chart Based on Above Data
plt.bar(x_axis, y_axis, align="center", alpha=0.5, color=["k", "r", "g", "m", "b", "c", "y"])

# Create Ticks for Bar Chart's x_axis
plt.xticks(ticks, x_axis, rotation="vertical")

# Set Labels & Title
plt.ylabel("Salaries ($)")
plt.xlabel("Employee Titles")
plt.title("Average Employee Salary by Title")

# Save Figure
plt.savefig("./Images/average_salary_by_title.png")

# Show plot
plt.show()